{% load static %}
<html>
<head>
<title> MY BLOG </title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div style="text-align:center;margin-top:25px;font-weight:bold;texxxt-decoration:none;">
  Visit <a href="https://readofroses.wordpress.com/" px;target="_blank">My Blog</a>
</div>
<div class="muck-up">
  <div class="overlay"></div>
  <div class="top">
    <div class="nav">
      <span class="ion-android-menu"></span>
      <p>Timeline</p>
      <span class="ion-ios-more-outline"></span>
    </div>
    <div class="user-profile">
      <img src="blog.jpg">
      <div class="user-details">
        <h4>Manya Mishra</h4>
        
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="filter-btn">
    <a id="one" href="#"><i class="ion-ios-checkmark-outline"></i></a>
    <a id="two" href="#"><i class="ion-ios-alarm-outline"></i></a>
    <a id="three" href="#"><i class="ion-ios-heart-outline"></i></a>
    <a id="all" href="#"><i class="ion-ios-star-outline"></i></a>
    <span class="toggle-btn ion-android-funnel"></span>
  </div>
  <div class="clearfix"></div>
  <div class="bottom">
    <div class="title">
      <h3>Write ups</h3>
      <small>March 4,2019</small>
    </div>
    <ul class="tasks">
      <li class="one red">
        <span class="task-title">PARANOOS</span>
        <span class="task-time"></span>
        <span class="task-cat">Paranoia is a mental disorder with delusions or extreme irrational fear or distrust of others.</span>
<a href="https://readofroses.wordpress.com/2019/02/25/paranoos/" px;target="_blank">PARANOOS</a>

      </li>
      <li class="one red">
        <span class="task-title">Catch up with me</span>
        <span class="task-time"></span>
        <span class="task-cat">Hey there!</span>
<a href="https://readofroses.wordpress.com/2019/02/04/fairy-tale/" px;target="_blank">FAIRY-TALE</a>
      </li>
      <li class="two green">
        <span class="task-title">IN THE BAZAAR</span>
        <span class="task-time"></span>
        <span class="task-cat">THROUGH THE DROOLING JOURNEY YOU ALL HAVE BEEN!</span>
<a href="https://readofroses.wordpress.com/2019/01/10/in-the-bazaar/" px;target="_blank">IN THE BAZAAR</a>
      </li>
      </li>
     
    </ul>
  </div>
</div>
</body>
</html>
